@import './assets/tailwind.min.css';
@import './assets/svgicons.css';

body {
  font: caption;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #718096;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e0;
}

::-webkit-scrollbar-thumb:hover {
  background: #acb4bd;
}

li {
  max-height: 5rem;
  line-height: 25px;
  overflow-y: auto;
}
